<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Placement</title>
</head>
<body>
   <header>
        <div class="head-content">
        <div id="nie-logodiv">
        <img id="nie-logo" src="assets/images/nie_logo.png" alt="NIE Logo" />
        </div>
        <div id="nie-header">
        <h1 class="white-font">National Institute of Engineering</h1>
        <h1 class="white-font">Mysore</h1>
        <hr style="width:100%;">
        <h1 class="white-font">Training &amp; Placement Cell</h1>
        </div>
        </div>
    </header>
</body>
</html>