
  <div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-block row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cmpname">
                    <h3 class="card-title">{{data.companyName}}</h3>
                </div>

                <div>
                  <div class="row">
                    <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Category: {{data.category}}</p>
                    <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Package: {{data.package}}</p>
                  </div>

                
                </div>
                
            </div>
        </div>
        <br>
    </div>
  </div>
 