<div *ngIf="eligible_flag">
<div *ngFor="let data of eligible.eligible;let i = index">
  <div class="clr-col-lg-12 clr-col-12">
      <div class="card">
          <div class="card-block row">
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 cmpname">
                  <h3 class="card-title">{{data.companyName}}</h3>
              </div>
              
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <!--//[routerLink]="['company registration', data.companyName]"-->
                <button 
                  id='register' 
                  (click)="checkRegistration(data.companyName, i)" 
                  [disabled]='register_flag[i]'>
                  {{register_flag[i] ? 'Register' : 'Register'}}
                </button>
              </div>
              
              <div class="expandCollapse col-xs-3 col-sm-3 col-md-3 col-lg-3">
                  <button (click)="toggle(i)">
                      {{hideRuleContent[i] ? 'Details' : 'Details'}}
                  </button>
              </div>
              <div *ngIf='register_flag[i]'>
                <p>You have already registered!</p>
              </div>
              <div class="expandCollapseContent" *ngIf="hideRuleContent[i]">
                  <div>
                    <div class="row">
                      <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Category: {{data.category}}</p>
                      <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Visiting Date: {{data.visitingDate}}</p>
                    </div>

                    <div class="row">
                      <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Package: {{data.package}}</p>
                      <p class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Deadline: {{data.deadline}}</p>
                    </div>

                      <p>CutOff: {{data.cutOff_cgpa}}</p>
                      <p>Backlogs Allowed: {{data.backlogsAllowed}}</p>
                  </div>
              </div>
          </div>
      </div>
      <br>
  </div>
</div>
</div>

<!--
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" 
          id="dropdownMenuButton" 
          ngbDropdownToggle>Details</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem>Action</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else here</button>
        </div>
      </div>
    </div>
  </div>
-->



